#body{
    background-color:  black;
} 
#cart{
    text-decoration: none;
    color: #202c45;
}
#second_option>a>button{
font-size: 18px;
padding: 10px;
color: #202c45;;
}
#second_option>a>button:hover{
    color: rgb(134, 109, 148);
    /* text-decoration: underline;
    text-decoration-color:#00d084; */
}
#user-signup{
    display: flex;
    justify-content: space-evenly;
}




 
@media screen and (min-width:916px) and (max-width:3000px) {
    #inv_opt{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;  
    }
}
@media screen and (min-width:100px) and (max-width:915px) {
    #visable{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

    #user-signup{
        margin-top: 40px;
    }
    #login{
        padding: 6px 20px 6px 20px;
        background-color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signup{
        padding: 6px 20px 6px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
}





/* second */
#nav-menu{
    
    width: 100%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* background-color:  rgb(89, 192, 236); */
    border-radius: 20px;
    background: linear-gradient(to bottom right, blue, rgb(89, 192, 236));
}
#nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* background-color:  rgb(89, 192, 236); */
    width: 80%;
    height: 100%;
     /* border: 1px solid red; */
    margin: auto;
    /* background: linear-gradient(to bottom right, blue, rgb(89, 192, 236)); */
}

#nav>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 40%;
    cursor: pointer;
    /* border: 1px solid red; */
    width: 60%;
    
    
}
#nav>div:nth-child(2)>div{
    /* border: 1px solid blue; */
    width: auto;
    height: 100%;
}

#nav>div:nth-child(1){
    display: flex;
     
     height: 80px;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
#nav>div:nth-child(1)>div{
  color: white;
    font-size: 20px;
   
}
#logo{
    margin-right: 15px;
    
    
}
#logo>a>img{
    height: 100%;
}
#logo>a{
    text-decoration: none;
}

#dropdownMenu2{
    background-color: white;
    color: #202c45;
    border: none;
    /* font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
    font-weight: 600;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#list_items{
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}
#list_items>div>a{
    display: flex;
    width: 100%;
    padding: 10px;
    color: #202c45;
}
#list_items>div>a{
    text-decoration: none;
     
    
}
#list_items>div>a>div:nth-child(2){
    padding-left: 15px;
}
#list_items>div>a>div:nth-child(2)>li>h4{
    font-size: 15px;
}
#list_items p{
    font-size: 15px;
    margin-top: -10px;
}
#list_items>div>a>div:nth-child(2):hover{
    cursor: pointer;
    color: #00d084;
}
/* #dropdownMenu2:hover{
    text-decoration: underline;
    text-decoration-color:#00d084;
} */
/* #visable{
    border: 1px solid red;
    height: 90%;
} */
/* #home{
    
    width: 47%;
    height: 75%;
    
}
#home>input{
    width: 100%;
    height: 45px;
}
#home>a>button{
font-size: 18px;
padding: 10px;
color: #202c45;;
}
#home>a>button:hover{
    color: rgb(134, 109, 148);
    /* text-decoration: underline;
    text-decoration-color:#00d084; */


/* #input{

} */
#user-signup{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
/* #user-signup>div{
    border: 1px solid blue;
}
#user-signup>div>button{
    border: 1px solid green;
} */
 #login{
    padding: 6px 20px 6px 20px;
    /* background-color: rgb(89, 192, 236);; */
    background: linear-gradient(to bottom right, blue, rgb(89, 192, 236));
     border: 0px;
    border-radius: 5px;
    font-weight: 500;
    /* margin-left: 40px; */
}
#login>a{
    text-decoration: none;
    color: white;
}
#login:hover{
    background-color: white;
    color: black;
}
#login>a:hover{
    color: black;
}
#signup{
    padding: 6px 20px 6px 20px;
    background-color: rgb(89, 192, 236);
    border: none;
    /* color: black; */
    /* font-size: 6px; */
    font-weight: 500;
    /* margin-left: 15px; */
    color: white;
    border-radius: 10px;
}
#signup>a{
    text-decoration: none;
    /* color: black; */
    color: white;
}
#signup:hover{
background-color: rgb(89, 192, 236);
}
#bar{
   background-color: #202c45;
}
#inv_opt{
    border: none; 
}
@media screen and (min-width:916px) and (max-width:3000px) {
    #inv_opt{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;  
    }
}
@media screen and (min-width:100px) and (max-width:915px) {
    #visable{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

    #user-signup{
        margin-top: 40px;
    }
    #login{
        padding: 6px 20px 6px 20px;
        background-color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signup{
        padding: 6px 20px 6px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
}


#user-detail-name{
    height: auto;
    width:100%;
    margin-top: 10%;
    /* border: 1px solid red; */
    background-color: black;
    display: flex;
}
#user-detail-name>div{
  width: 50%;
  height: 100%;
  /* border: 1px solid blue; */
}
#user-detail-name>div:nth-child(1){
    /* text-align: right;
    padding-top: 5%;
    padding-right: 8%; */
    padding-left: 4%;
}

/* trying transection */
#user-detail-name>div:nth-child(1)>h2{
    color:   rgb(89, 192, 236);
    font-size: 450%;
    /* color: #252839; */
    /* color: black;
    -webkit-text-stroke: 0.3vm #383d52;
    text-transform: inherit; */
}




#user-detail-name>div:nth-child(1)>h6{
   
    font-size: 200%;
    
    color: black;
    -webkit-text-stroke: 0.3vm #383d52;
    text-transform: inherit;
}

#user-detail-name>div:nth-child(1)>h6::before{
    content: attr(data-text);
    position:absolute;
    top: 10;
    left: 5;
    width: 0;
    height: 5%;
    color: white;
    -webkit-text-stroke: 0vw #383d52;
    /* border-right: 2px solid white; */
    overflow: hidden;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 25%;
    }
}


/* ends transietion */
#user-detail-name>div:nth-child(1)>h3{
    color: white;
     font-size: 300%;
}
/* #user-detail-name>div:nth-child(1)>h6{
    color: white;
    font-size: 200%;
} */
#user-detail-name>div:nth-child(2){
    text-align: center;
}
#user-detail-name>div:nth-child(2)>img{
      border-radius: 80%;
      border: 15px solid rgb(89, 192, 236);
}

@media screen and (min-width:0px) and (max-width:1500px) {
    #user-detail-name>div:nth-child(1)>h6{
        font-size: 150%;
    }
}
@media screen and (min-width:0px) and (max-width:1061px) {
    #user-detail-name>div:nth-child(1)>h6{
        font-size: 60%;
    }
}

@media screen and (min-width:0px) and (max-width:850px) {
#user-detail-name{
   margin-top: 25%;
    flex-direction: column;
}
#user-detail-name>div{margin: auto;}
#user-detail-name>div>img{
    width: 100%;
}
#user-detail-name>div:nth-child(1)>h2{
    font-size: 100%;
}
#user-detail-name>div:nth-child(1)>h6{
    font-size: 70%;
}
#user-detail-name>div:nth-child(1)>h6::before{
    height: 2%;
}
}
@media screen and (min-width:0px) and (max-width:550px) {
    #user-detail-name>div:nth-child(1)>h6{
        font-size: 40%;
    }
    #user-detail-name>div:nth-child(1)>h6::before{
        height: 1%;
    }
}

/* about section */
#about2{
    height: auto;
    width: 100%;
     /* border: 1px solid blue; */
     margin-top: 4%;
}
#about2>div:nth-child(1){
    height: 15%;
    width: 100%;
    /* border: 1px solid red; */
    /* display: flex; */
    
    text-align: center;
     
}
#about2>div:nth-child(2){
    height: 85%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
   
     
}
#about2>div>div{
    height: 100%;
    width: 50%;
    /* border: 1px solid blue; */
    margin:auto;
    text-align: center;
     
}
#about2>div>div:nth-child(1){
    padding-top: 2%;
}
#about2>div>h3{
    font-weight: bolder;
    font-size: 250%;
    color: rgb(89, 192, 236);
}
#about2>div>div>p{
    font-size: 200%;
    color:white;
}
#about2>div>div>h1{
    color: white;
}
#about2>div>div>h6{
    color: white;
}
#about2>div>hr{
     
    color:white;
}



@media screen and (min-width:0px) and (max-width:1500px) {
    #about2>div:nth-child(2){
        flex-direction: column;
    }
    #about2>div:nth-child(2)>div>img{
        width: 100%;
    }
    }
/* skills section */
#skills2{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 3%;
    background-color: aliceblue;
}
#skills2>div:nth-child(1){
    width: 100%;
    height: 40%;
    /* border: 1px solid blue; */
    padding-top: 4%;
    padding-left: 8%;
}
#skills2>div:nth-child(1)>h1{
    font-weight:bolder;
    font-size: 400%
}
#skills2>div:nth-child(1)>h3{
    font-weight:100;
    font-size: 300%
}
#skills2>div:nth-child(2){
    width: 100%;
    height: 60%;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-left: 10%;
}
#skills2>div:nth-child(2)>div{
    width: 40%;
    height:  auto;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 2%;
}
#skills2>div:nth-child(2)>div>div{
    padding: 10%;
    background-color: white;
    border-radius: 15%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: 1s;
}
#skills2>div:nth-child(2)>div>div:hover{
    transform: scale(1.3);
    z-index: 2;
}
#skills2>div:nth-child(2)>div>div>img{
    border-radius: 10%;
    
    
}


@media screen and (min-width:600px) and (max-width:900px) {

#skills2>div:nth-child(2){
grid-template-columns: repeat(4,1fr);
}
}

@media screen and (min-width:0px) and (max-width:600px) {

    #skills2>div:nth-child(2){
    grid-template-columns: repeat(2,1fr);
    }
    }